* {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Disables horizontal scrolling */

  box-sizing: border-box;
}
.container {
  width: 100%;
  margin: 0;
}
.header {
  width: 100%;
  height: auto;
}
.bar {
  width: 100%;
  height: 50px;
  background-color: lightgray;
}

.double-bar {
  margin: 24px 20% 23px 20%;

  height: 50px;
  background-color: lightgray;
}
.main {
  width: 100%;
  height: auto;
  float: none;
}
.section-1 {
  width: 100%;
  height: auto;
  display: inline-block;
}
.subsec-1 {
  width: 49.5%;
  height: 500px;
  float: left;
  background-color: lightgray;
}
.subsec-2 {
  width: 49.5%;
  height: 500px;
  float: right;
  background-color: lightgray;
}
.secbar
 {
  margin: 24px 15% 20px 15%;

  height: 50px;
  background-color: lightgray;
}
.secbar-2 {
  margin: 3px 13% 20px 13%;

  height: 50px;
  background-color: lightgray;
}
.float-main {
  width: 100%;
  height: auto;
  padding: 0 100px 0px 100px;
  display: inline-block;
}
.float {
  width: 100%;  
  height: auto;
  margin: 0 3% 0 1%;
  display: inline-block;
}
.float-item {
  float: left;
  width: 300px;
  height: 300px;
  margin: 10px;
  background-color: lightgray;
}
.cards-section {
  width: 100%;
  height: auto;
  padding: 100px 100px;
  margin: 0px 0 30px 0;
  display: inline-block;
  background-color: lightgray;
}

.card {
  float: left;
  width: 380px;
  height: 600px;
  margin: 23px;
  padding: 30px;
  display: block;
  background-color: white;
}
.subcard-1 {
  width: 100%;
  height: 50px;
  background-color: lightgray;
}
.subcard-2 {
  width: 100%;
  height: 220px;
  margin-top: 20px;
  background-color: lightgray;
}
.subcard-3 {
  width: 100%;
  height: 220px;
  margin-top: 20px;
  background-color: lightgray;
}
.blocks {
  width: 100%;
  height: auto;
  display: block;
  padding: 8px 25% 20px 25%;
}
.sec-1 {
  margin: 0 30% 30px 30%;

  height: 50px;
  background-color: lightgray;
}
.sec-2,
.sec-3,
.sec-4 {
  margin: 0 12% 15px 12%;

  height: 50px;
  background-color: lightgray;
}
.sec-5 {
  margin: 0 12% 25px 12%;

  height: 200px;
  background-color: lightgray;
}
.sec-6 {
  margin: 0 12% 20px 12%;

  height: 60px;
  overflow-y: hidden;

  background-color: white;
}
.subsec-6 {
  float: left;
  width: 48%;
  height: 48px;
  background-color: lightgrey;
}
.subsec-7 {
  float: right;
  width: 48%;
  height: 48px;
  background-color: lightgrey;
}
.footer {
  width: 100%;
  height: 150px;
  margin: 20px 0 2px 0;
  overflow-y: hidden;

  padding: 20px;
  background-color: lightgrey;
}
.subfooter-1 {
  float: left;
  width: 49.5%;
  height: 112px;
  background-color: white;
}
.subfooter-2 {
  float: right;
  width: 49.5%;
  height: 112px;
  background-color: white;
}
